:root {
    --sky-main-color: rgb(47, 150, 163);
    --sky-second-color: rgb(48, 62, 143)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    background: linear-gradient(var(--sky-main-color), var(--sky-second-color));
    font-family: sans-serif;
    color: white
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     min-height: 50%;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.temperature {
    flex-direction: column
}

.degre-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degre-section span {
    margin: 10px;
    font-size: 30px
}
.degre-section h2 {
    font-size: 40px
}

#googleMap {
    height: 500px;
    max-width: 100%;
}